<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Ngawang yonsei university</title>
</head>
<body>
    <div class="navbar">
            <a href="/about">About</a>
            <a href="/login">Login</a>
            <a href="/">Questions</a>
        <a class="aa" href="https://www.linkedin.com/in/ngawang-pelden-lama-03b152221/">나왕 펠덴 라마</a>
    </div>
    <div class="container">

       
        <div class="searchbox-container">
            <img class="searchImg"  src="../images/yonsei.png">
            <img class="searchImg2"  src="../images/yonseiuniversity.png">
            
        
               <form class="search-box" action="/search-item" method="get">
                <input name="search" class="searching" placeholder="Search by subject , eg: Mongodb"> 
                <button class="searchbutton" type="submit">Search</button>
               </form>
                
              
           
        </div>
 
      
            