<%- include("partials/header"); -%>
   <div class="checking">

    <div class="box ">
        <div class="inside-boxx">
            <h3>Use email ( ngawanglm07@gmail.com ) and password ( ngawang ) to log in</h3>
            <form action="/add-question" method="post">
                <input type="email" name="email" placeholder="enter your email">
               <input type="password" name="password" placeholder="enter your password">
                <button type="submit"> check </button>
            </form>

       </div>
    </div>
   </div>
   <%- include("partials/footer"); -%>