<%- include("partials/header"); -%>

<iframe class="utube" src="https://www.youtube.com/embed/eNJzEr_AGoM?si=6b1ZXVDdulWbCcow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h2>YONSEI NEWS</h2>
<div class="yonsei-news">
        
 <div class="yonsei-news-section">
      <img class="yonsei-news-section-img" src="../images/news5.jpg">
      <p class="yonsei-news-section-title" >Engagement</p>  
      <p class="yonsei-news-section-paragraph1">Bridging Cultures: Event Highlights from August to October 2023 for Yonsei International Students</p>
      <p  class="yonsei-news-section-paragraph" >2023 Fall Orientation, Cultural Experience, Welcome Party and the Korean Language Writing Contest Hosted Successfully</p>
   <p class="yonsei-news-section-readmore" >Read more</p>
</div>
<div class="yonsei-news-section">
        <img class="yonsei-news-section-img" src="../images/news6.jpg">
        <p class="yonsei-news-section-title" >Excellence</p> 
        <p class="yonsei-news-section-paragraph1">For Two Consecutive Years, Top 1 University Nationally in Most Subjects in the THE World University Rankings 2024</p> 
        <p  class="yonsei-news-section-paragraph" >Ranked 1st Nationally in Humanities, Business &amp; Economics, Social Sciences, Medicine, and Psychology Subjects</p>
     <p class="yonsei-news-section-readmore" >Read more</p>
  </div>
  <div class="yonsei-news-section">
        <img class="yonsei-news-section-img" src="../images/news7.jpg">
        <p class="yonsei-news-section-title" >Innovation</p>  
        <p class="yonsei-news-section-paragraph1">Taking new steps towards africa</p>
        <p  class="yonsei-news-section-paragraph" >Yonsei African Student Association Launch and Presidents from 11 African Universities Conference</p>
     <p class="yonsei-news-section-readmore" >Read more</p>
  </div>
</div>

<%- include("partials/footer"); -%>